{% extends 'base.html' %}

{% block page_tile %} Survey Questions {% endblock %}

{% block page_content %}
<nav>
<a href="/">Restart</a>
</nav>
<h1>Survey</h1>
<form action="/questions/{{id + 1}}" name="survey_form">
    <h2>Question {{id + 1}}</h2>
    <p>{{ question }}</p>
        {% for option in answer %}
            <input type="radio" name="reply" value="{{ option }}">
            <label for="reply">{{ option }}</label>
        {% endfor %}
    <button>Submit</button>
</form>
{% endblock %}
